* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 80%;
  height: 80%;
  margin: 10px auto;
  grid-template-columns: repeat(auto-fit, minmax(60px, 62px));

}

.box {
  display: block;
  border: 1px solid black;
}