:root {
  --first: rgba(0,0,0,0.8);
  --solidBlack: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh
}

.app {
  width: max(100%, 1200px);
  height: max(100%, 882px);
  background-color: var(--first);
}

.container {
  width: max(95%, 1200px);
  height: calc(100vh - 10vh);
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.header {
  height: 10vh;
  width: 100%;
  box-shadow: 0 0 5px 2px var(--solidBlack);
}